
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(206, 204, 204);
}

.menuTrigger{
    /* position: absolute; */
    overflow: hidden;
    cursor: pointer;
    
}
.menuTrigger h1{
    font-weight: bold;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
}
.menuTrigger p{
    font-weight: lighter;
    font-size: 13px;
}
.dropdownMenu {
    background-color: aqua;
    /* position: absolute; */
    top:5rem;
    width: 200px;
    padding: 20px;
    
}
